name: CI

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  # This workflow contains a single job called "build"
  build:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
    # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
    - uses: actions/checkout@v2

    - name: Setup Node.js environment
      uses: actions/setup-node@v2.1.1
      with:
        node-version: 12.x

    - name: Install
      run: npm ci

    - name: Lint
      run: npm run lint
    
    - name: Test
      run: npm run test:ci
    
    - name: Build
      run: npm run build
    
    - name: cobertura-report
      uses: 5monkeys/cobertura-action@v5
      with:
        repo_token: $GITHUB_TOKEN
        path: coverate/cobertura-coverage.xml
        minimum_coverage: 90
